# Python Cache
__pycache__/
*.py[cod]
*$py.class

# Databases
db.sqlite3
db.sqlite3-journal

# Django local static / media
/media/
/static_root/
/staticfiles/

# Environments
.env
.venv
env/
venv/
ENV/

# OS Specific
.DS_Store
Thumbs.db
